<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sigurvar.distanceduel">

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DistanceDuel">
        <activity android:name=".game.views.ResultState"/>
        <activity android:name=".game.views.WaitResultState"/>
        <activity android:name=".game.views.AnswerState"/>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".states.SettingsState" />
        <activity android:name=".states.NewGameState" />
        <activity android:name=".game.views.LobbyState" />
        <activity android:name=".states.MainState">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".states.JoinGameState" />
        <activity android:name=".states.State" />
        <activity
            android:name=".states.GameState"
            android:label="@string/title_activity_game_state" />
    </application>

</manifest>